.contain {
  /* // min-height: 100vh;
  // height: 100vh;
  // padding: 0 0.5rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:#393F42 !important;
  
}

main {
  /* // padding: 5rem 0; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


a {
  color: inherit;
  text-decoration: none;
}


.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

/* code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
} */

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

/* .card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
} */

.logo {
  height: 1em;
}


.leftA{
  text-align: left !important;
}

.carousel-caption .hero-large{
  color: white;
  font-size: 7rem;
  line-height: 6rem;
  font-weight: bold;
}
      
.carousel-caption .first-hero-large{
  color: white;
  font-size: 5rem;
  line-height: 4.3rem;
  font-weight: bold;
}

.link-button{
  margin-top: 2% !important;
}

.video{
  width: 100% !important;
  height: 560px;
  display: block;
}

.modal-dialog{
  width: 100vw !important;
  max-width: inherit;
  opacity: 0.95;
  padding-left: 55px;
  padding-right: 55px
}
.modal-content{
  background: transparent !important;
  border: 0px !important;
  box-shadow: none !important;
}
.modal-header{
  border-bottom: none;
  padding: 0px 30px; 
  /* Above was formerly O 15px, which was for the default 15px for modal-body, but now compensating for additional 15px from enclosing row div wrapping modal body */
}
/* .modal-backdrop.in{
  opacity: 0.95;
} */
.modal-backdrop.show{
  opacity: 0.95;
}
.modal-backdrop{
  background: #15151D;
}
/* .modal-body{
  padding: 0px 15px;
  15px comes by default, so paading unnecessary
} */

button.close{
  font-size: 50px;
  /* padding-right: 8%; */
  opacity: 1;
  color: #cacaca !important;
  font-weight: 100;
  outline: none !important;
}



@media only screen and (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .carousel-caption .hero-large{
    color: white;
    font-size: 3rem;
    line-height: 2.8rem;
    font-weight: bold;
    padding-bottom: 15px;
  }

  .carousel-caption .first-hero-large{
    color: white;
    font-size: 3.5rem;
    line-height: 3.5rem;
    font-weight: bold;
  }

  .link-button{
    margin-top: 5% !important;
  }



  .video{
    width: 100% !important;
    height: auto;
    display: block;
  }


  .modal-dialog{
    width: 100vw !important;
    max-width: inherit;
    opacity: 0.95;
    padding-left: 0;
    padding-right: 55px;
    padding-top: 5px
  }
  .modal-content{
    background: transparent !important;
    border: 0px !important;
    box-shadow: none !important;
  }
  .modal-header{
    border-bottom: none;
    padding: 0px 0; 
  }
  .modal-body{
    border-bottom: none;
    padding-top: 0; 
  }

}