.mail-links {
  flex-flow: row wrap;
  flex-direction: row;
  min-height: 0;
  color: #fff;
  text-align: center;

  position: relative;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.social-links {
  flex-flow: row wrap;
  flex-direction: row;
  min-height: 0;
  color: #fff;
  text-align: center;

  position: relative;
  margin: 30px auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.mail-links .content{
  flex-basis: auto;
  width: 25%;
  padding: 0 2rem;
  box-sizing: border-box;
}

.mail-links .content > h5{
  font-size:0.9rem;
  text-transform: uppercase;
}

.mail-links .content > a{
  font-size:0.75rem;
}



.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  /* // height: 100px; */
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* // footer img {
//   margin-left: 0.5rem;
// } */

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}


.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }


  .mail-links {
    flex-flow: row wrap;
    flex-direction: row;
    min-height: 0;
    color: #fff;
    text-align: center;
  
    position: relative;
    margin: 0 auto;
    width: 100%;
    display: flex;
    /* // flex-direction: column; */
    justify-content: space-around;
  }
  
  .social-links {
    flex-flow: column wrap;
    flex-direction: column;
    min-height: 0;
    color: #fff;
    text-align: center;
  
    position: relative;
    margin: 10px auto 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  .mail-links .content{
    flex-basis: auto;
    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
  }
  
  .mail-links .content > h5{
    font-size:0.9rem;
    text-transform: uppercase;
  }
  
  .mail-links .content > a{
    font-size:0.75rem;
  }
  
}
