

/* 'Open Sans' font from Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);


.login {
  font-size: 16px;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  justify-items: center !important;
  flex-wrap: nowrap;
}

.login-container {
  background: #ffffff;
  padding: 12px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  /* border-radius: 5px; */
}


.admin {
  font-size: 16px;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  justify-items: center !important;
  flex-wrap: nowrap;
  padding: 25px;
}

.admin-container {
  background: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.admin-container p {
  margin-bottom: 0.1rem !important;
  font-size: 0.7rem;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #2d9cdb;
}

.login-header {
  background: #2d9cdb;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}



/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}


.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-radius: 5px;
  border-width: 1px;
  /* border-style: solid; */
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.redButton{
  background:#ea4235 !important;
}

.login input[type="email"],
.login input[type="password"] {
  border-color: #bbb;
  color: #555;
  
}

input::placeholder {
    color: #555;
  }

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: rgb(71, 71, 71);
}

.login input[type="submit"] {
  text-transform: uppercase;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  background: #000d14;
}

.login input[type="submit"]:hover {
  background: #000d14;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  background: #000d14;
}