/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


/* The following block can be included in a custom.scss */


/* make the customizations */
/* $theme-colors: (
    "info": tomato,
    "danger": teal
); */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background:rgb(234, 66, 53) !important;
  /* //#393F42; */
  
}

.container {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background:rgb(234, 66, 53) !important;
  /* //#393F42; */
  
}

* {
  box-sizing: border-box;
}


.container a {
  color: #ffffff;
  text-decoration: none;
}

.container a:hover,
.container a:focus,
.container a:active {
  text-decoration: none;
  color: #ffffff;
}


.leftA{
  text-align: left !important;
}

.hero-large{
  color: white;
  /* font-size: 7rem;
  line-height: 6rem; */
  font-size: 5rem;
  line-height: 4.3rem;
  font-weight: bold;
}
      
.hero-p-text{
  color: white;
      padding-top: 1%;
      width: 50%;
  font-size: 1.2rem;
  line-height: 1.4rem;
  /* margin-bottom: 0.1rem; */
}

.first-hero-p-text{
  color: rgb(231, 231, 231);
  padding-top: 1%;
  font-size: 1.2rem;
  line-height: 1.3rem;
  margin-bottom: 1rem;
}


.carousel-caption {
    position: absolute;
        right: 5% !important;
    /* // bottom: 20px; */
        top: 20px !important;
        left: 5% !important;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.menu-button {
    position: absolute;
        /* // right: 5% !important;
        // bottom: 20px !important;
        // left: 5% !important; */
    z-index: 100;
        /* // padding-top: 20px;
        // padding-bottom: 20px; */
    color: #fff;
    text-align: center;
    border-radius: 50% !important;
        /* // height: 4.2rem;
        // width: 4.2rem; */
    display: inline-block !important;
    position: fixed;
    bottom: 3.2rem;
    left: 50%;
    transform: translate3d(-50%,0,0);
    cursor: pointer;
    /* // z-index: 2; */
}

.menu-hover {
    background: transparent;
    cursor: pointer;
    display: block;
    overflow: hidden;
    transform: translateZ(0);
    text-align: center;
    opacity: 1;
}

.redr{
    /* // background-color: rgb(234, 66, 53) !important;
    // fill: rgb(234, 66, 53); */
    fill-opacity: 1;
    height: 4.5rem;
    width: 4.5rem;
}

.close-button {
    /* // position: absolute; */
    z-index: 10;
    color: #fff;
    text-align: center;
    border-radius: 50% !important;

    /* // height: 4.2rem;
    // width: 4.2rem;
    // display: inline-block !important;
    // position: fixed;
    // bottom: 8rem;
    // left: 50%;
    // transform: translate3d(-50%,0,0); */
    cursor: pointer;

    /* // flex-basis: auto;
    // width: 25%;
    // padding: 0 2rem;
    // box-sizing: border-box; */
}

.social-button {
    position: absolute;
    z-index: 8;
    color: #fff;
    text-align: center;
    display: inline-block !important;
    position: fixed;
    /* // bottom: 3.2rem; */
    left: 50%;
    transform: translate3d(-50%,0,0);
    cursor: pointer;
    align-content: center;
}

.address-button {
    /* // position: absolute; */
    z-index: 8;
    color: #fff;
    text-align: left;
        /* // height: 4.2rem; */
    width: 10%;
    display: inline-block !important;
    position: fixed;
    left: 12%;
        /* // transform: translate3d(-50%,0,0); */
    cursor: pointer;
    font-size: 0.75rem;
}

.backdrop-height{
    height: 100vh !important;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}


.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-align-items: center;
    -moz-box-align: center;
        align-items: flex-end !important;
        margin-bottom: 1rem !important;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
        width: 7% !important;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    -moz-transition: opacity 0.15s ease;
    transition: opacity 0.15s ease;
}


@media (max-width: 720px) {
  .social-button {
    position: absolute;
    z-index: 8;
    color: #fff;
    text-align: center;
    display: block !important;
    position: fixed;
    bottom: initial;
    /* left: 50%; */
    /* transform: translate3d(-50%,0,0); */
    cursor: pointer;
    align-content: center;
  }

  .social-button a > img{
    width: 130% !important;
  }

  .address-button {
    z-index: 8;
    color: #fff;
    text-align: center;
    width: 100%;
    display: block !important;
    position: relative;
    left: initial;
    top: 110px;
        /* // transform: translate3d(-50%,0,0); */
    /* cursor: pointer; */
    font-size: 0.75rem;
  }

  .hero-p-text{
    color: white;
        padding-top: 1%;
        width: 80%;
    font-size: 1.2rem;
    line-height: 1.3rem;
  }

  .first-hero-p-text{
    color: rgb(231, 231, 231);
    padding-top: 1%;
    font-size: 1.2rem;
    line-height: 1.3rem;
    margin-bottom: 3rem;
  }
  
}